<!-- ko ifnot: header -->
    <!-- ko template: { name: 'Loading' } --><!-- /ko -->
<!-- /ko -->
<!-- ko if: header -->
<div class="callerCallee currentView" data-bind="
    template: { afterRender: onAfterDomInsert },
    multiClick: { click: onClick, dblclick: onDblClick },
    dynamicContextMenu: contextMenu" >
    <div class="linkedHorizontalScroll header">
        <div class="wrapper">
            <table data-bind="with: header">
                <thead class="sharedHeader" data-bind="visibilityContextMenu: visibilityContextMenuBinding, circularFocus: { selector: 'th', vertical: false }">
                    <tr rol="row" data-bind="foreach: columns">
                        <th role="columnheader" data-bind="
                            text: text, 
                            css: id, 
                            attr: { 'data-columnid': id }, 
                            sortable: typeof sortable !== 'undefined' ? { sortColumnId: id, currentColumn: $parent.sortColumnId, currentDirection: $parent.sortDirection, defaultDirection: sortable } : null">
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="callerCaption" class="caption" data-bind="localizedText: ['CallerCalleeView_CallerTableTitle', currentFunctionName]"></div>
    <div class="linkedHorizontalScroll verticalScroll callers">
        <div class="wrapper">
            <table data-bind="event: { keydown: onKeyDownCaller.bind($data) }">
                <thead aria-hidden="true" data-bind="with: header">
                    <tr rol="row" data-bind="foreach: columns">
                        <th role="columnheader" data-bind="
                            text: text, 
                            css: id, 
                            attr: { 'data-columnid': id }, 
                            sortable: typeof sortable !== 'undefined' ? { sortColumnId: id, currentColumn: $parent.sortColumnId, currentDirection: $parent.sortDirection, defaultDirection: sortable } : null">
                        </th>
                    </tr>
                </thead>
                <!-- ko with: caller -->
                    <tbody tabindex="0" aria-labelledby="callerCaption" aria-readonly="true" aria-multiselectable="true" data-bind="
                        virtualizedForEach: { rows: data, scrollTop: scrollTop, clientHeight: clientHeight, columnOrder: header.columnOrder },
                        focusedRow: { rows: data, selected: selectedRows, focused: focusedRowIndex },
                        localizedAriaLabel: ['CallerCalleeView_CallerTableTitle', $parent.currentFunctionName],
                        attr: { tabindex: data().length > 0 ? 0 : -1 }">
                    </tbody>
                <!-- /ko -->
            </table>
            <!-- ko if: caller.data().length === 0 -->
                <div tabindex="0" aria-labelledby="callerCaption" data-bind="localizedAriaLabel: ['CallerCalleeView_TopOfStackAriaLabel', currentFunctionName], localizedText: 'CallerCalleeView_TopOfCallStackMessage'"></div>
            <!-- /ko -->
        </div>
    </div>
    <div id="currentCaption" class="caption" data-bind="localizedText: 'CallerCalleeView_CurrentFunction'"></div>
    <div class="linkedHorizontalScroll current">
        <div class="wrapper">
            <table>
                <thead aria-hidden="true" data-bind="with: header">
                    <tr rol="row" data-bind="foreach: columns">
                        <th role="columnheader" data-bind="
                            text: text, 
                            css: id, 
                            attr: { 'data-columnid': id }, 
                            sortable: typeof sortable !== 'undefined' ? { sortColumnId: id, currentColumn: $parent.sortColumnId, currentDirection: $parent.sortDirection, defaultDirection: sortable } : null">
                        </th>
                    </tr>
                </thead>
                <tbody tabindex="0" aria-labelledby="currentCaption" aria-readonly="true" data-bind="with: current, event: { keydown: onKeyDownCurrent.bind($data) }, localizedAriaLabel: 'CallerCalleeView_CurrentFunction'">
                    <!-- ko template: templateName -->
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
    <div id="calleeCaption" class="caption" data-bind="localizedText: ['CallerCalleeView_CalleeTableTitle', currentFunctionName]"></div>
    <div class="linkedHorizontalScroll verticalScroll callees">
        <div class="wrapper">
            <table data-bind="event: { keydown: onKeyDownCallee.bind($data) }">
                <thead aria-hidden="true" data-bind="with: header">
                    <tr rol="row" data-bind="foreach: columns">
                        <th role="columnheader" data-bind="
                            text: text, 
                            css: id, 
                            attr: { 'data-columnid': id }, 
                            sortable: typeof sortable !== 'undefined' ? { sortColumnId: id, currentColumn: $parent.sortColumnId, currentDirection: $parent.sortDirection, defaultDirection: sortable } : null">
                        </th>
                    </tr>
                </thead>
                <!-- ko with: callee -->
                    <tbody aria-labelledby="calleeCaption" aria-readonly="true" aria-multiselectable="true" data-bind="
                        virtualizedForEach: { rows: data, scrollTop: scrollTop, clientHeight: clientHeight, columnOrder: header.columnOrder },
                        focusedRow: { rows: data, selected: selectedRows, focused: focusedRowIndex },
                        localizedAriaLabel: ['CallerCalleeView_CalleeTableTitle', $parent.currentFunctionName],
                        attr: { tabindex: data().length > 0 ? 0 : -1 }">
                    </tbody>
                <!-- /ko -->
            </table>
            <!-- ko if: callee.data().length === 0 -->
                <div tabindex="0" aria-labelledby="calleeCaption" data-bind="localizedAriaLabel: ['CallerCalleeView_BottomOfStackAriaLabel', currentFunctionName], localizedText: 'CallerCalleeView_BottomOfCallStackMessage'"></div>
            <!-- /ko -->
        </div>
    </div>
    <div class="horizontalScroll">
        <div class="scrollBarInner">
            &nbsp;
        </div>
    </div>
</div>
<!-- ko template: { name: 'Loading', if: header().columnConfigLoadStatus() !== Microsoft.F1Viz.DataLoadEvent.DataLoadCompleted } -->
<!-- /ko -->
<!-- /ko -->