<!-- ko if: currentFunction -->
<div class="functionDetailsView currentView">
    <span class="currentFunctionName" data-bind="text: currentFunctionName"></span>
    <span class="currentModuleName" data-bind="text: currentModuleName"></span>
    <div class="functionDetailsViewItem chart">
        <div class="functionDetailsViewItem callers functionGroup" data-bind="click: navigateTo, onEnter: navigateTo">
            <span class="functionDetailsViewItem functionGroup-title" data-bind="localizedText: 'FunctionDetails_CallingFunctionsTitle'"></span>
            <!-- ko if: atTopOfStack -->
                <div tabIndex="0" class="functionDetailsViewItem functions" data-bind="localizedAriaLabel: 'FunctionDetails_TopOfCallStackMessage'">
                    <div class="functionDetailsViewItem function">
                        <span data-bind="localizedText: 'FunctionDetails_TopOfCallStackMessage'"></span>
                    </div>
                </div>
            <!-- /ko -->
            <!-- ko ifnot: atTopOfStack -->
                <div tabIndex="0" class="functionDetailsViewItem functions" data-bind="
                    event: { keydown: moveToNextFunction },
                    localizedAriaLabel: 'FunctionDetails_CallingFunctionsAriaLabel',
                    foreach: callers">
                    <div tabIndex="-1" class="functionDetailsViewItem function" data-bind="
                        style: { '-ms-flex': inclusive, flex: inclusive },
                        css: { 'invokable': canNavigateTo },
                        attr: { 'aria-label': ariaLabel },
                        localizedTooltip: [ inclusiveTooltip, name, localizedInclusive ]">
                        <span class="function-name" data-bind="text: name"></span>
                        <div data-bind="template: { name: 'FunctionDetailsInclusivePerfMetricView' }"></div>
                    </div>
                </div>
            <!-- /ko -->
        </div>
        <div class="arrowIcon" data-bind="svgImage: 'codeDirectionArrowIcon'"></div>
        <div class="functionDetailsViewItem currentFunction functionGroup">
            <span class="functionDetailsViewItem functionGroup-title" data-bind="localizedText: 'FunctionDetails_CurrentFunctionTitle'"></span>
            <div tabIndex="0" class="functionDetailsViewItem functions" data-bind="
                focus: currentFunctionHasFocus,
                event: { keydown: moveToNextFunction },
                localizedAriaLabel: 'FunctionDetails_CurrentFunctionAriaLabel', with: currentFunction">
                <div tabIndex="-1" class="functionDetailsViewItem function" data-bind="
                    attr: { 'aria-label': ariaLabel },
                    localizedTooltip: [ inclusiveTooltip, name, localizedInclusive ]">
                    <span class="function-name" data-bind="text: name"></span>
                    <div data-bind="template: { name: 'FunctionDetailsInclusivePerfMetricView' }"></div>
                </div>
                <div tabIndex="-1" class="functionDetailsViewItem function functionBody" data-bind="
                    attr: { 'aria-label': ariaLabelFunctionBody },
                    localizedTooltip: [ exclusiveTooltip, name, localizedExclusive ]">
                    <span class="function-name" data-bind="localizedText: 'FunctionDetails_ViewFunctionBody'"></span>
                    <div data-bind="template: { name: 'FunctionDetailsExclusivePerfMetricView' }"></div>
                </div>
            </div>
        </div>
        <div class="arrowIcon" data-bind="svgImage: 'codeDirectionArrowIcon'"></div>
        <div class="functionDetailsViewItem callees functionGroup" data-bind="click: navigateTo, onEnter: navigateTo">
            <span class="functionDetailsViewItem functionGroup-title" data-bind="localizedText: 'FunctionDetails_CalledFunctionsTitle'"></span>
            <!-- ko if: atBottomOfStack -->
                <div tabIndex="0" class="functionDetailsViewItem functions" data-bind="localizedAriaLabel: 'FunctionDetails_BottomOfCallStackMessage'">
                    <div class="functionDetailsViewItem function">
                        <span data-bind="localizedText: 'FunctionDetails_BottomOfCallStackMessage'"></span>
                    </div>
                </div>
            <!-- /ko -->
            <!-- ko ifnot: atBottomOfStack -->
                <div tabIndex="0" class="functionDetailsViewItem functions" data-bind="
                    event: { keydown: moveToNextFunction },
                    localizedAriaLabel: 'FunctionDetails_CalledFunctionsAriaLabel',
                    foreach: callees">
                    <div tabIndex="-1" class="functionDetailsViewItem function" data-bind="
                        style: { '-ms-flex': inclusive, flex: inclusive },
                        attr: { 'aria-label': ariaLabel },
                        css: { 'hotpath':  $parent.callees()[0] === $data, 'invokable': canNavigateTo },
                        localizedTooltip: [ inclusiveTooltip, name, localizedInclusive ]">
                        <span class="function-name" data-bind="text: name"></span>
                        <div data-bind="template: { name: 'FunctionDetailsInclusivePerfMetricView' }"></div>
                    </div>
                </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="functionDetailsFooter">
        <div class="relatedViews">
            <span data-bind="localizedText: 'FunctionDetails_RelatedViews'"></span>
            <button class="hyperlink-button" role="link" data-bind="localizedText: 'FunctionDetails_ViewButtonLabel', localizedAriaLabel: 'FunctionDetails_ViewButtonAriaLabel', click: navigateToCallerCallee, onEnter: navigateToCallerCallee"></button>
            <button class="hyperlink-button" role="link" data-bind="localizedText: 'FunctionDetails_FunctionsViewButtonLabel', localizedAriaLabel: 'FunctionDetails_FunctionsViewButtonAriaLabel', click: navigateToFunctions, onEnter: navigateToFunctions"></button>
        </div>
        <div class="performanceMetric">
            <span data-bind="localizedText: 'FunctionDetails_PerformanceMetricLabel'"></span>
            <select data-bind="options: performanceMetrics, 
                               optionsText: 'localizedName', 
                               value: currentPerformanceMetric, 
                               optionsValue: 'metricIndex',
                               localizedAriaLabel: 'FunctionDetails_PerformanceMetricLabel'"></select>
        </div>
    </div>
</div>
<!-- /ko -->