<!-- ko ifnot: functionsList -->
    <!-- ko template: { name: 'Loading' } --><!-- /ko -->
<!-- /ko -->
<!-- ko if: functionsList -->
    <div class="functions currentView" data-bind="
        template: { name: 'TreeGridView', data: functionsList, afterRender: functionsList().onAfterDomInsert.bind($data) },
        event: { keydown: onKeyDown },
        dynamicContextMenu: contextMenu">
    </div>
    <!-- ko template: { name: 'Loading', if: functionsList().dataLoadStatus() !== Microsoft.F1Viz.DataLoadEvent.DataLoadCompleted || functionsList().header.columnConfigLoadStatus() !== Microsoft.F1Viz.DataLoadEvent.DataLoadCompleted } -->
    <!-- /ko -->
<!-- /ko -->
