<!-- ko ifnot: ipsList -->
    <!-- ko template: { name: 'Loading' } --><!-- /ko -->
<!-- /ko -->
<!-- ko if: ipsList -->
    <div class="ips currentView" data-bind="
        template: { name: 'TreeGridView', data: ipsList, afterRender: ipsList().onAfterDomInsert.bind($data) },
        event: { keydown: onKeyDown },
        dynamicContextMenu: contextMenu">
    </div>
    <!-- ko template: { name: 'Loading', if: ipsList().dataLoadStatus() !== Microsoft.F1Viz.DataLoadEvent.DataLoadCompleted || ipsList().header.columnConfigLoadStatus() !== Microsoft.F1Viz.DataLoadEvent.DataLoadCompleted } -->
    <!-- /ko -->
<!-- /ko -->