<!-- ko ifnot: linesList -->
    <!-- ko template: { name: 'Loading' } --><!-- /ko -->
<!-- /ko -->
<!-- ko if: linesList -->
    <div class="lines currentView" data-bind="
        template: { name: 'TreeGridView', data: linesList, afterRender: linesList().onAfterDomInsert.bind($data) },
        event: { keydown: onKeyDown },
        dynamicContextMenu: contextMenu">
    </div>
    <!-- ko template: { name: 'Loading', if: linesList().dataLoadStatus() !== Microsoft.F1Viz.DataLoadEvent.DataLoadCompleted || linesList().header.columnConfigLoadStatus() !== Microsoft.F1Viz.DataLoadEvent.DataLoadCompleted } -->
    <!-- /ko -->
<!-- /ko -->
