<!-- ko ifnot: treeGrid -->
    <!-- ko template: { name: 'Loading' } --><!-- /ko -->
<!-- /ko -->
<!-- ko if: treeGrid -->
    <div class="marks currentView" data-bind="
        template: { name: 'TreeGridView', data: treeGrid, afterRender: onAfterDomInsert },
        event: { keydown: onKeyDown },
        dynamicContextMenu: contextMenu">
    </div>
    <!-- ko template: { name: 'Loading', if: treeGrid().dataLoadStatus() !== Microsoft.F1Viz.DataLoadEvent.DataLoadCompleted || treeGrid().header.columnConfigLoadStatus() !== Microsoft.F1Viz.DataLoadEvent.DataLoadCompleted } -->
    <!-- /ko -->
<!-- /ko -->