<!-- ko ifnot: processesList -->
    <!-- ko template: { name: 'Loading' } --><!-- /ko -->
<!-- /ko -->
<!-- ko if: processesList -->
    <div class="processes currentView" data-bind="
        template: { name: 'TreeGridView', data: processesList, afterRender: processesList().onAfterDomInsert.bind($data) },
        event: { keydown: onKeyDown },
        dynamicContextMenu: contextMenu">
    </div>
    <!-- ko template: { name: 'Loading', if: processesList().dataLoadStatus() !== Microsoft.F1Viz.DataLoadEvent.DataLoadCompleted || processesList().header.columnConfigLoadStatus() !== Microsoft.F1Viz.DataLoadEvent.DataLoadCompleted } -->
    <!-- /ko -->
<!-- /ko -->