<div class="summaryView currentView">
    <div class="summaryTitle">
        <!-- ko if: reportType === Microsoft.F1Viz.ReportType.Sampling -->
            <span class="title" data-bind="localizedText: 'SummaryView_SamplingReportTitle'"></span>
            <span class="subTitle" data-bind="localizedText: ['SummaryView_SamplingReportSubtitle', Microsoft.F1Viz.CpuSamplingUtilities.localizeNumber(reportMetricTotal())]"></span>
        <!-- /ko -->
        <!-- ko if: reportType === Microsoft.F1Viz.ReportType.Instrumentation -->
            <span class="title" data-bind="localizedText: 'SummaryView_InstrumentationReportTitle'"></span>
            <span class="subTitle" data-bind="localizedText: ['SummaryView_InstrumentationReportSubtitle', Microsoft.F1Viz.CpuSamplingUtilities.localizeNumber(reportMetricTotal())]"></span>
        <!-- /ko -->
        <!-- ko if: reportType === Microsoft.F1Viz.ReportType.Concurrency -->
            <span class="title" data-bind="localizedText: 'SummaryView_ConcurrencyReportTitle'"></span>
            <span class="subTitle" data-bind="localizedText: ['SummaryView_ConcurrencyReportSubtitle', Microsoft.F1Viz.CpuSamplingUtilities.localizeNumber(reportMetricTotal())]"></span>
        <!-- /ko -->
        <!-- ko if: reportType === Microsoft.F1Viz.ReportType.Memory -->
            <span class="title" data-bind="localizedText: 'SummaryView_MemoryReportTitle'"></span>
            <span class="subTitle" data-bind="localizedText: ['SummaryView_MemoryReportSubtitle', Microsoft.F1Viz.CpuSamplingUtilities.localizeNumber(reportMetricTotal())]"></span>
        <!-- /ko -->
    </div>
    <div class="summaryReport">
        <div class="mainReport">
            <!-- ko if: showGraph -->
            <div class="panel" data-bind="iControl: summaryGraph"></div>
            <!-- /ko -->
            <!-- ko if: reportType === Microsoft.F1Viz.ReportType.Sampling || reportType === Microsoft.F1Viz.ReportType.Instrumentation -->
            <div class="panel">
                <span class="panelTitle" data-bind="localizedText: 'SummaryView_HotPathPanelTitle'"></span>
                <table class="panelBody hotPathTable" role="treegrid" data-bind="localizedAriaLabel: 'SummaryView_HotPathAriaLabel'">
                    <thead role="rowgroup" tabIndex="0" data-bind="circularFocus: { selector: 'th', vertical: false }"><tr role="row">
                        <th role="columnheader" tabIndex="-1" class="name" data-bind="localizedText: 'SummaryView_HotPathNameHeader'"></th>
                        <!-- ko if: reportType === Microsoft.F1Viz.ReportType.Sampling -->
                            <th role="columnheader" tabIndex="-1" class="inclusivePercent" data-bind="localizedText: 'SummaryView_HotPathInclusivePercentHeader'"></th>
                            <th role="columnheader" tabIndex="-1" class="exclusivePercent" data-bind="localizedText: 'SummaryView_HotPathExclusivePercentHeader'"></th>
                        <!-- /ko -->
                        <!-- ko if: reportType === Microsoft.F1Viz.ReportType.Instrumentation -->
                            <th role="columnheader" tabIndex="-1" class="inclusivePercent" data-bind="localizedText: 'SummaryView_HotPathElapsedInclusivePercentHeader'"></th>
                            <th role="columnheader" tabIndex="-1" class="exclusivePercent" data-bind="localizedText: 'SummaryView_HotPathElapsedExclusivePercentHeader'"></th>
                        <!-- /ko -->
                    </tr></thead>
                    <tbody role="rowgroup" tabIndex="0" data-bind="foreach: hotPath, localizedAriaLabel: 'SummaryView_HotPathAriaLabel', circularFocus: { selector: 'tr', vertical: true }, dynamicContextMenu: contextMenu">
                        <tr class="hotPathRow" role="row" tabIndex="-1" data-bind="attr: { 'aria-level': depth + 1 }, onEnter: $parent.onHotPathItemClicked.bind($parent), click: function() { focus(true); }">
                            <td class="name container" role="gridcell">
                                <span data-bind="rowIndent: depth">&nbsp;</span>
                                <button class="hyperlink-button" role="link" tabIndex="-1" data-bind="click: $parent.onHotPathItemClicked.bind($parent), onEnter: $parent.onHotPathItemClicked.bind($parent)">
                                    <!-- ko ifnot: isHotItem --><div class="icon" data-bind="svgImage: 'hotPathIcon'"></div><!-- /ko -->
                                    <!-- ko if: isHotItem --><div class="icon" data-bind="svgImage: 'hotItemIcon'"></div><!-- /ko -->
                                    <span data-bind="text: name"></span>
                                </button>
                            </td>
                            <td class="inclusivePercent" role="gridcell" data-bind="text: inclusivePercent.toFixed(2)"></td>
                            <td class="exclusivePercent" role="gridcell" data-bind="text: exclusivePercent.toFixed(2)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel relatedViews">
                <span data-bind="localizedText: 'SummaryView_RelatedViews'"></span>
                <button class="hyperlink-button" role="link" data-bind="localizedText: 'SummaryView_CallTreeHyperlink', click: onNavigateToCallTree, onEnter: onNavigateToCallTree"></button>
                <button class="hyperlink-button" role="link" data-bind="localizedText: 'SummaryView_FunctionsHyperlink', click: onNavigateToFunctions, onEnter: onNavigateToFunctions"></button>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: reportType === Microsoft.F1Viz.ReportType.Concurrency -->
            <div class="panel">
                <!-- ko ifnot: reportType === Microsoft.F1Viz.ReportType.Memory -->
                <span class="panelTitle" data-bind="localizedText: 'SummaryView_FunctionsPanelTitle'"></span>
                <!-- /ko -->
                <!-- ko if: reportType === Microsoft.F1Viz.ReportType.Memory -->
                <span class="panelTitle" data-bind="localizedText: 'SummaryView_FunctionsMemoryPanelTitle'"></span>
                <!-- /ko -->
                <table class="panelBody summaryTable" data-bind="localizedAriaLabel: 'SummaryView_FunctionsAriaLabel'">
                    <thead role="rowgroup" tabIndex="0" data-bind="circularFocus: { selector: 'th', vertical: false }"><tr role="row">
                        <th role="columnheader" tabIndex="-1" data-bind="localizedText: 'SummaryView_NameHeader'"></th>
                        <!-- ko if: reportType === Microsoft.F1Viz.ReportType.Sampling -->
                        <th role="columnheader" class="percent" colspan="2" tabIndex="-1" data-bind="localizedText: 'SummaryView_FunctionsExclusiveSamplesPercentHeader'"></th>
                        <!-- /ko -->
                        <!-- ko if: reportType === Microsoft.F1Viz.ReportType.Instrumentation -->
                        <th role="columnheader" class="percent" colspan="2" tabIndex="-1" data-bind="localizedText: 'SummaryView_FunctionsExclusiveTimePercentHeader'"></th>
                        <!-- /ko -->
                        <!-- ko if: reportType === Microsoft.F1Viz.ReportType.Memory -->
                        <th role="columnheader" class="percent" colspan="2" tabIndex="-1" data-bind="localizedText: 'SummaryView_BytesPercentHeader'"></th>
                        <!-- /ko -->
                    </tr></thead>
                    <tbody role="rowgroup" tabIndex="0" data-bind="foreach: functionsList, localizedAriaLabel: 'SummaryView_FunctionsAriaLabel', circularFocus: { selector: 'tr', vertical: true }, dynamicContextMenu: contextMenu">
                        <tr role="row" class="summaryListItem" tabIndex="-1" data-bind="onEnter: $parent.onFunctionClicked.bind($parent)">
                            <td class="name"><span class="hyperlink-button" role="link" data-bind="text: name, click: $parent.onFunctionClicked.bind($parent), onEnter: $parent.onFunctionClicked.bind($parent)"></span></td>
                            <td class="usageContainer"><div class="usageBar" data-bind="style: { width: scaledPercent + '%' }">&nbsp;</div></td>
                            <td class="percent"><span data-bind="text: percent.toFixed(2)"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /ko -->
            <!-- ko if: reportType === Microsoft.F1Viz.ReportType.Concurrency -->
            <div class="panel">
                <span class="panelTitle" data-bind="localizedText: 'SummaryView_ResourcesPanelTitle'"></span>
                <table class="panelBody summaryTable" data-bind="localizedAriaLabel: 'SummaryView_ResourcesAriaLabel'">
                    <thead role="rowgroup" tabIndex="0" data-bind="circularFocus: { selector: 'th', vertical: false }"><tr role="row">
                        <th role="columnheader" tabIndex="-1" data-bind="localizedText: 'SummaryView_NameHeader'"></th>
                        <th role="columnheader" class="percent" colspan="2" tabIndex="-1" data-bind="localizedText: 'SummaryView_ContentionsPercentHeader'"></th>
                        <th role="columnheader" class="count" tabIndex="-1" data-bind="localizedText: 'SummaryView_ContentionsHeader'"></th>
                    </tr></thead>
                    <tbody role="rowgroup" tabIndex="0" data-bind="foreach: resourcesList, localizedAriaLabel: 'SummaryView_ResourcesAriaLabel', circularFocus: { selector: 'tr', vertical: true }, dynamicContextMenu: contextMenu">
                        <tr role="row" class="summaryListItem" tabIndex="-1" data-bind="onEnter: $parent.onResourceClicked.bind($parent)">
                            <td class="name"><span class="hyperlink-button" role="link" data-bind="text: name, click: $parent.onResourceClicked.bind($parent), onEnter: $parent.onResourceClicked.bind($parent)"></span></td>
                            <td class="usageContainer"><div class="usageBar" data-bind="style: { width: scaledPercent + '%' }">&nbsp;</div></td>
                            <td class="percent"><span data-bind="text: percent.toFixed(2)"></span></td>
                            <td class="count"><span data-bind="formatInteger: count"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel">
                <span class="panelTitle" data-bind="localizedText: 'SummaryView_ThreadsPanelTitle'"></span>
                <table class="panelBody summaryTable" data-bind="localizedAriaLabel: 'SummaryView_ThreadsAriaLabel'">
                    <thead role="rowgroup" tabIndex="0" data-bind="circularFocus: { selector: 'th', vertical: false }"><tr role="row">
                        <th role="columnheader" tabIndex="-1" data-bind="localizedText: 'SummaryView_ThreadsIDHeader'"></th>
                        <th role="columnheader" tabIndex="-1" data-bind="localizedText: 'SummaryView_NameHeader'"></th>
                        <th role="columnheader" class="percent" colspan="2" tabIndex="-1" data-bind="localizedText: 'SummaryView_ContentionsPercentHeader'"></th>
                        <th role="columnheader" class="count" tabIndex="-1" data-bind="localizedText: 'SummaryView_ContentionsHeader'"></th>
                    </tr></thead>
                    <tbody role="rowgroup" tabIndex="0" data-bind="foreach: threadsList, localizedAriaLabel: 'SummaryView_ThreadsAriaLabel', circularFocus: { selector: 'tr', vertical: true }, dynamicContextMenu: contextMenu">
                        <tr role="row" class="summaryListItem" tabIndex="-1" data-bind="onEnter: $parent.onThreadClicked.bind($parent)">
                            <td><span class="hyperlink-button" role="link" data-bind="text: tid, click: $parent.onThreadClicked.bind($parent), onEnter: $parent.onThreadClicked.bind($parent)"></span></td>
                            <td class="name"><span data-bind="text: name"></span></td>
                            <td class="usageContainer"><div class="usageBar" data-bind="style: { width: scaledPercent + '%' }">&nbsp;</div></td>
                            <td class="percent"><span data-bind="text: percent.toFixed(2)"></span></td>
                            <td class="count"><span data-bind="formatInteger: count"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /ko -->
            <!-- ko if: reportType === Microsoft.F1Viz.ReportType.Memory -->
            <div class="panel">
                <span class="panelTitle" data-bind="localizedText: 'SummaryView_TypesMemoryTitle'"></span>
                <table class="panelBody summaryTable" data-bind="localizedAriaLabel: 'SummaryView_TypesAriaLabel'">
                    <thead role="rowgroup" tabIndex="0" data-bind="circularFocus: { selector: 'th', vertical: false }"><tr role="row">
                        <th role="columnheader" tabIndex="-1" data-bind="localizedText: 'SummaryView_NameHeader'"></th>
                        <th role="columnheader" class="percent" colspan="2" tabIndex="-1" data-bind="localizedText: 'SummaryView_BytesPercentHeader'"></th>
                    </tr></thead>
                    <tbody role="rowgroup" tabIndex="0" data-bind="foreach: typesMemoryList, localizedAriaLabel: 'SummaryView_TypesAriaLabel', circularFocus: { selector: 'tr', vertical: true }, dynamicContextMenu: contextMenu">
                        <tr role="row" class="summaryListItem" tabIndex="-1" data-bind="onEnter: $parent.onTypeClicked.bind($parent)">
                            <td class="name"><span class="hyperlink-button" role="link" data-bind="text: name, click: $parent.onTypeClicked.bind($parent), onEnter: $parent.onTypeClicked.bind($parent)"></span></td>
                            <td class="usageContainer"><div class="usageBar" data-bind="style: { width: scaledPercent + '%' }">&nbsp;</div></td>
                            <td class="percent"><span data-bind="text: percent.toFixed(2)"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel">
                <span class="panelTitle" data-bind="localizedText: 'SummaryView_TypesInstancesTitle'"></span>
                <table class="panelBody summaryTable" data-bind="localizedAriaLabel: 'SummaryView_TypesAriaLabel'">
                    <thead role="rowgroup" tabIndex="0" data-bind="circularFocus: { selector: 'th', vertical: false }"><tr role="row">
                        <th role="columnheader" tabIndex="-1" data-bind="localizedText: 'SummaryView_NameHeader'"></th>
                        <th role="columnheader" class="percent" colspan="2" tabIndex="-1" data-bind="localizedText: 'SummaryView_TypesInstancesPercentHeader'"></th>
                    </tr></thead>
                    <tbody role="rowgroup" tabIndex="0" data-bind="foreach: typesInstancesList, localizedAriaLabel: 'SummaryView_TypesAriaLabel', circularFocus: { selector: 'tr', vertical: true }, dynamicContextMenu: contextMenu">
                        <tr role="row" class="summaryListItem" tabIndex="-1" data-bind="onEnter: $parent.onTypeClicked.bind($parent)">
                            <td class="name"><span class="hyperlink-button" role="link" data-bind="text: name, click: $parent.onTypeClicked.bind($parent), onEnter: $parent.onTypeClicked.bind($parent)"></span></td>
                            <td class="usageContainer"><div class="usageBar" data-bind="style: { width: scaledPercent + '%' }">&nbsp;</div></td>
                            <td class="percent"><span data-bind="text: percent.toFixed(2)"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /ko -->
        </div>
        <div class="sideBar">
            <!-- ko if: haveFilter() || haveViewGuidance() || (collectionMechanism === Microsoft.F1Viz.CollectionMechanism.Sampling && !$root.isSerialized()) -->
            <div class="panel">
                <span class="panelTitle" data-bind="localizedText: 'SummaryView_NotificationsPanelTitle'"></span>
                <ul class="panelBody">
                    <!-- ko if: haveFilter -->
                    <li><button class="hyperlink-button" role="link" data-bind="click: onClearFilter, onEnter: onClearFilter"><div class="icon" data-bind="svgImage: 'deleteFilterIcon'"></div><span data-bind="localizedText: 'SummaryView_ClearFilterButtonLabel'"></span></button></li>
                    <!-- /ko -->

                    <!-- ko if: haveViewGuidance -->
                    <li><button class="hyperlink-button" role="link" data-bind="click: onViewGuidance, onEnter: onViewGuidance"><div class="icon" data-bind="svgImage: 'infoIcon'"></div><span data-bind="localizedText: 'SummaryView_ViewGuidanceButtonLabel'"></span></button></li>
                    <!-- /ko -->

                    <!-- ko if: collectionMechanism === Microsoft.F1Viz.CollectionMechanism.Sampling && !$root.isSerialized() -->
                        <!-- ko if: isJmcEnabled -->
                        <li><button class="hyperlink-button" role="link" data-bind="click: toggleJmc, onEnter: toggleJmc"><div class="icon" data-bind="svgImage: 'showExternalCodeIcon'"></div><span data-bind="localizedText: 'SummaryView_ShowAllCodeButtonLabel'"></span></button></li>
                        <!-- /ko -->
                        <!-- ko ifnot: isJmcEnabled -->
                        <li><button class="hyperlink-button" role="link" data-bind="click: toggleJmc, onEnter: toggleJmc"><div class="icon" data-bind="svgImage: 'jmcIcon'"></div><span data-bind="localizedText: 'SummaryView_ShowJustMyCodeButtonLabel'"></span></button></li>
                        <!-- /ko -->
                    <!-- /ko -->
                </ul>
            </div>
            <!-- /ko -->
            <div class="panel">
                <span class="panelTitle" data-bind="localizedText: 'SummaryView_ReportPanelTitle'"></span>
                <ul class="panelBody">
                    <!-- ko if: haveMarks -->
                    <li><button class="hyperlink-button" role="link" data-bind="click: onShowMarks, onEnter: onShowMarks"><div class="icon" data-bind="svgImage: 'showUserMarksIcon'"></div><span data-bind="localizedText: 'SummaryView_ShowMarksButtonLabel'"></span></button></li>
                    <!-- /ko -->

                    <!-- ko if: collectionMechanism === Microsoft.F1Viz.CollectionMechanism.Sampling -->
                    <li><button class="hyperlink-button" role="link" data-bind="click: onShowHotLines, onEnter: onShowHotLines"><div class="icon" data-bind="svgImage: 'hotPathIcon'"></div><span data-bind="localizedText: 'SummaryView_ShowHotLinesButtonLabel'"></span></button></li>
                    <!-- /ko -->
                    <li><button class="hyperlink-button" role="link" data-bind="click: onShowTrimmedCallTree, onEnter: onShowTrimmedCallTree"><div class="icon" data-bind="svgImage: 'showTrimmedCallTreeIcon'"></div><span data-bind="localizedText: 'SummaryView_TrimmedCallTreeButtonLabel'"></span></button></li>
                    <li><button class="hyperlink-button" role="link" data-bind="click: onCompareReports, onEnter: onCompareReports"><div class="icon" data-bind="svgImage: 'compareReportsIcon'"></div><span data-bind="localizedText: 'SummaryView_CompareReportsButtonLabel'"></span></button></li>
                    <li><button class="hyperlink-button" role="link" data-bind="click: onExportReportData, onEnter: onExportReportData"><div class="icon" data-bind="svgImage: 'exportDataIcon'"></div><span data-bind="localizedText: 'SummaryView_ExportReportButtonLabel'"></span></button></li>
                    <li><button class="hyperlink-button" role="link" data-bind="click: onSaveAnalyzedReport, onEnter: onSaveAnalyzedReport"><div class="icon" data-bind="svgImage: 'saveIcon'"></div><span data-bind="localizedText: 'SummaryView_SaveReportButtonLabel'"></span></button></li>
                    <li><button class="hyperlink-button" role="link" data-bind="click: onToggleFullscreen, onEnter: onToggleFullscreen"><div class="icon" data-bind="svgImage: 'toggleFullscreenIcon'"></div><span data-bind="localizedText: 'SummaryView_ToggleFullScreenButtonLabel'"></span></button></li>
                    <li><button class="hyperlink-button" role="link" data-bind="click: onSetSymbolPath, onEnter: onSetSymbolPath"><div class="icon" data-bind="svgImage: 'setSymbolPathIcon'"></div><span data-bind="localizedText: 'SummaryView_SetSymbolPathButtonLabel'"></span></button></li>
                </ul>
            </div>
        </div>
    </div>
</div>