.callTree {
    display: -ms-flexbox;
    display: flex;
}

.callTree > .treeGridContainer {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
}

.callTreeRow > .leftAlign, .callTreeHeader > .leftAlign {
    text-align: left;
}

.callTreeRow > .name > .hotPath {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background: url("./Icons/invalid.png") no-repeat 0px 0px; /*[ url({hotPathImage}) no-repeat 0px 0px]*/
    background-size: 100%;
}

.callTreeRow > .name > .hotItem {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background: url("./Icons/invalid.png") no-repeat 0px 0px; /*[ url({hotItemImage}) no-repeat 0px 0px]*/
    background-size: 100%;
}