.infoBarContainer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: red; /*[{InfoBar-InfoBarBackground-Background}]*/
    border-top: 1px solid blue; /*[1px solid {InfoBar-InfoBarBorder-Background}]*/
    border-bottom: 1px solid blue; /*[1px solid {InfoBar-InfoBarBorder-Background}]*/
    padding: 5px;
}

.infoBarContainer > .icon {
    display: inline-block;
    -ms-flex: 0 0 1.1em;
    flex: 0 0 1.1em;
    width: 1.1em;
    height: 1.1em;
}

.infoBarContainer > .message {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: blue; /*[{InfoBar-InfoBarBackground-Foreground}]*/
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.infoBarContainer > a {
    cursor: pointer;
    flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
}

    .infoBarContainer > a:link {
        text-decoration: none;
        color: green; /*[{InfoBar-Hyperlink-Foreground}]*/
    }

    .infoBarContainer > a:hover {
        color: green; /*[{InfoBar-HyperlinkMouseOver-Foreground}]*/
    }

    .infoBarContainer > a:active {
        color: green; /*[{InfoBar-HyperlinkMouseDown-Foreground}]*/
    }

.infoBarContainer > .closeButton {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: transparent;
    padding-top: 2px;
    font-family: Marlett !important;
    color: blue; /*[{InfoBar-CloseButtonGlyph-Background}]*/
}