.ips {
    display: -ms-flexbox;
    display: flex;
}

.ips > .treeGridContainer {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
}

.ipRow > .leftAlign, .ipHeader > .leftAlign {
    text-align: left;
}
