.lines {
    display: -ms-flexbox;
    display: flex;
}

.lines > .treeGridContainer {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
}

.lineRow > .leftAlign, .lineHeader > .leftAlign {
    text-align: left;
}
