.resourceThreadDetailsView {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.resourceThreadDetailsView .titlePanel {
    background-color: fuchsia; /*[{IntelliTrace-ReportHeaderActive-Background}]*/;
    -ms-flex: 0 0 3em;
    flex: 0 0 3em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
}

    .resourceThreadDetailsView .titlePanel > * {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: -ms-flex;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        color: blueviolet; /*[{IntelliTrace-ReportHeaderActive-Foreground}]*/
    }

    .resourceThreadDetailsView .titlePanel > .title {
        font-weight: bold;
    }

.resourceThreadDetails {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    overflow: auto;
}

    .resourceThreadDetails > .treeGridContainer {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

.resourceDetailsRow > .leftAlign, .resourceDetailsHeader > .leftAlign,
.threadDetailsRow > .leftAlign, .threadDetailsHeader > .leftAlign {
    text-align: left;
}

.contentionInstancesTitle {
    background-color: magenta; /*[{Diagnostics-ControlContent-Background}]*/
    font-weight: bold;
    padding: 4px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.contentionInstancesPanel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
}

    .contentionInstancesPanel > .overlay {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        overflow: hidden;
        z-index: 10000;
        background-color: orangered; /*[{plugin-background-color}]*/
        text-align: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .contentionInstancesPanel > .overlay > a {
        cursor: pointer;
    }

.contentionInstances {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    overflow: auto;
}

    .contentionInstances > .treeGridContainer {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

.contentionInstancesRow > .leftAlign, .contentionInstancesHeader > .leftAlign {
    text-align: left;
}

.contentionCallStackPanel {
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    align-items: stretch;
}

    .contentionCallStackPanel > .title {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding: 5px;
        font-weight: bold;
    }

    .contentionCallStackPanel > .contentionCallStack {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 0px 5px;
        overflow: auto;
    }

.contentionCallStack > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.contentionCallStack .contentionCallStackItem {
    padding: 1px;
}